{{- if ne .chezmoi.hostname "Zerrik" }}
.config/kdeglobals
.config/kglobalshortcutsrc
.config/konsolerc
.config/ksmserverrc
.config/kwinrc
.config/plasma-localerc
.config/plasmarc
.config/powermanagementprofilesrc
.config/spectaclerc
{{- end }}
